<!DOCTYPE html>
<html>
<head>
  <title>Renter Reviews</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/logo_container' %>
  <%= render 'layouts/login_alerts' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/javascript_footer' %>
  <script>
    $('.star-rating').raty({
      path: '/assets',
      readOnly: true,
      score: function (){
        return $(this).attr('data-score');
      }
    });
  </script>
</body>
</html>
